.content {
  max-width: 400px;
  margin: auto;
  padding: 10px;
}

.navbar {
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  color: aliceblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/*this function moves the navbar to the right of the page*/
.navbar a:hover {
  color: rgb(5, 107, 175);
}
/*this function makes the text light up when clicked on*/
.navbar-right {
  float: right;
  background-color: #B0C4DE;
}

.container {
  border: 20px solid #B0C4DE;
}

h1 {
  margin-top: 10px;
  font-style: italic;
  color: black;
  text-align: center;
  position: relative; top: 60px;
  font-size: 50px;
  text-shadow: 2px 2px 5px grey;
}
/* this function gives the text a shadow which adds depth*/
h2 {
  text-align: center;
  font-style: Fantasy;
  font-size: 35px;
  text-shadow: 2px 2px 5px grey;
}

p {
  text-align: center;
  font-size: 20px;
}
/*this centers the text and the font size*/
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
  flex-wrap: wrap;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  position: relative; margin-top: 100px;
  box-shadow: 5px 5px 5px grey;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 30%;
}
/*This moves the image to the middle of the page, and gives it a shadow, also rounds out the images*/

a .link {
  text-align: center;
}

.center {
  text-align: center;
  background-color: #B0C4DE;
  height: 300px;
  width: 750px;
  position: relative;
  overflow: visible;
  top: -200px;
  margin: auto;
}
/*this works for the bottom navagation bar for the contacts*/
section a {
  color: black;
}
/*color of the font*/
section a:hover {
  color: red;
}
/*makes the font change color when clicked on*/
.box-center {
  display: block;
  border: 5px solid black;
  padding: 20px 15px;
  box-sizing: border-box;
  width: 750px;
  height: 300px;
  float: none;
  position: relative;
  margin-top: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-align: center;
}
/*this forms a box around the text*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #B0C4DE;
  color: #191970;
  text-align: center;
  height: 35px;
  font-size: 25px;
}
/*this part works with the footer*/
body {
  --text-color: #222;
  --bkg-color: #fff;
}
body.dark-theme {
  --text-color: red;
  --bkg-color: #121212;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #121212;
  }
  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--bkg-color);
}

h1,
p {
  color: var(--text-color);
}
